# these are the dependencies/ libraries needed to make the microservice work!

fastapi~=0.115.12
uvicorn
scikit-learn~=1.6.1
joblib~=1.4.2
geopy~=2.4.1

pydantic~=2.11.2
numpy~=2.2.1
pandas~=2.2.3
preprocessing~=0.1.13